<!DOCTYPE html>
<html lang="en">
<head>
    <title>@ViewBag.Title</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="images/icons/favicon.png" />
    <link href="~/frontend/zoomsocks/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/frontend/zoomsocks/fonts/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/frontend/zoomsocks/fonts/iconic/css/material-design-iconic-font.min.css" rel="stylesheet" />
    <link href="~/frontend/zoomsocks/css/icon-font.min.css" rel="stylesheet" />
    <link href="~/frontend/zoomsocks/css/animate.css" rel="stylesheet" />
    <link href="~/frontend/zoomsocks/css/hamburgers.min.css" rel="stylesheet" />
    <link href="~/frontend/zoomsocks/css/animsition.min.css" rel="stylesheet" />
    <link href="~/frontend/zoomsocks/css/select2.min.css" rel="stylesheet" />
    <link href="~/frontend/zoomsocks/css/daterangepicker.css" rel="stylesheet" />
    <link href="~/frontend/zoomsocks/css/slick.css" rel="stylesheet" />
    <link href="~/frontend/zoomsocks/css/magnific-popup.css" rel="stylesheet" />
    <link href="~/frontend/zoomsocks/css/perfect-scrollbar.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="/frontend/zoomsocks/css/util.css">
    <link rel="stylesheet" type="text/css" href="/frontend/zoomsocks/css/main.css">
</head>
<body class="animsition">
    @{Html.RenderAction("Menu", "Home");}

    @RenderBody()

    @Html.Partial("_Footer")

    <script src="~/frontend/common/js/jquery-3.2.1.min.js"></script>
    <script src="~/frontend/zoomsocks/js/animsition.min.js"></script>
    <script src="~/frontend/zoomsocks/js/popper.min.js"></script>
    <script src="~/frontend/zoomsocks/js/bootstrap.min.js"></script>
    <script src="~/frontend/zoomsocks/js/select2.min.js"></script>
    <script src="~/frontend/common/js/moment.min.js"></script>
    <script src="~/frontend/zoomsocks/js/daterangepicker.js"></script>
    <script src="~/frontend/zoomsocks/js/slick.min.js"></script>
    <script src="/frontend/zoomsocks/js/slick-custom.js"></script>
    <script src="~/frontend/zoomsocks/js/parallax100.js"></script>
    <script src="~/frontend/zoomsocks/js/jquery.magnific-popup.min.js"></script>
    <script src="~/frontend/zoomsocks/js/isotope.pkgd.min.js"></script>
    <script src="~/frontend/zoomsocks/js/sweetalert.min.js"></script>
    <script src="~/frontend/zoomsocks/js/perfect-scrollbar.min.js"></script>
    <script src="/frontend/zoomsocks/js/main.js"></script>
    <script>
        $(".js-select2").each(function () {
            $(this).select2({
                minimumResultsForSearch: 20,
                dropdownParent: $(this).next('.dropDownSelect2')
            });
        })

        $('.gallery-lb').each(function () { // the containers for all your galleries
            $(this).magnificPopup({
                delegate: 'a', // the selector for gallery item
                type: 'image',
                gallery: {
                    enabled: true
                },
                mainClass: 'mfp-fade'
            });
        });

        $('.parallax100').parallax100();

        $('.js-pscroll').each(function () {
            $(this).css('position', 'relative');
            $(this).css('overflow', 'hidden');
            var ps = new PerfectScrollbar(this, {
                wheelSpeed: 1,
                scrollingThreshold: 1000,
                wheelPropagation: false,
            });

            $(window).on('resize', function () {
                ps.update();
            })
        });
    </script>
    @RenderSection("js", false)
</body>
</html>