@model Zoomsocks.WebUI.ViewModels.ProductCategoryViewModel

<div class="modal fade" id="confirm-delete-product-category-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            @using (Ajax.BeginForm("Delete", "ProductCategory", null, new AjaxOptions()
            {
                HttpMethod = "DELETE",
                OnSuccess = "onSuccessDeleteProductCategory"
            }, new { @class = "modal-content form-horizontal", @id = "deleteForm", enctype = "multipart/form-data" }))
            {
                <div class="modal-header">
                    <h5 class="modal-title" id="confirm-delete-question">Do you want to delete @Model.Name?</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                @Html.HiddenFor(m => m.Id)

                <div class="modal-footer">
                    <button type="submit" class="btn btn-danger">Yes</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                </div>
            }
        </div>
    </div>
</div>